<div class="container twifoobottom">
	<img src="../assets/images/download.png" width="50px" height="50px;" class="img twittericon">
	<p class="twittersignup">Sign up ></p>
	<hr/>
	    <div>
		<h3>What's happening?</h3>
	   </div>
	   <div class="row">
	   	<form>
	   		 <div class="row">
		   		<div class="col-md-12 col-sm-12 col-xs-12">
		   		  <textarea name="txtarea"></textarea>
		   	   </div>
	   	    </div>

	   	    <div class="row">
	   	    	<div class="col-md-6 col-sm-6 col-xs-6">
	   	    		<input type="text" name="" placeholder="Phone,email or  username">
	   	    		<input type="text" name="" placeholder="Password">
	   	    		 <label>
                   <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label>

	   	    	</div>

	   	    	<div class="col-md-6 col-sm-6 col-xs-6">
	   	    		<button class="btn tweetbutton ">Login and Tweet</button>
	   	    	</div>
	   	    </div>

	   	</form>
	   </div>
		
</div>

<div class="container-fluid graycolor text-center text-white">
	<h3>New to Twitter?</h3>
	<p>Get instant updates from your friends,industry experts,favorite celebrities , and what's<br/> happening aroud the world.</p>
	<button class="btn btn-warning text-black">Sign up</button>
	<p>What is Twitter?Learn more.</p>
	</div>
